* {
    box-sizing: border-box;

}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

aside {
    font-style: italic;
    font-size: xx-large;
    padding-left: 25px;
    line-height: 200px;
    margin-right: 500px;
    white-space: nowrap;


}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #000000;
    color: #fff;
}

h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
}


li {
    display: inline-block;
    margin: 0 10px;
    font-size: x-large
}


h2 {
    margin: 3% 0;
    font-size: 180%;
    font-family: serif;
}


.subtitle {
    text-align: right;
    background-color: #7c2963;
    padding: 30px;
    font-size: x-large;
    color: #fff;
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    background: #7c2963;
    color: #fff;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}



.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
}

.card header {
    padding: 20px;
}

.card p {
    text-align: center;
}

.card img {
    width: 100%;
}

.bigcard {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    height: 150%;

}

.bigcard header {
    padding: 30px;
}


@media screen and (max-width: 768px) {

    main {
        flex-direction: wrap;
    }
}